.verifyContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .verify {
    border-radius: 8px;
    padding: 60px;
    border: 1px solid rgb(241, 242, 243);
    .userInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      gap: 20px;
      .name {
        font-size: 22px;
        font-weight: 600;
        color: #001435;
      }
    }
    .form {
      margin: 30px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      input {
        border: none;
        color: black;
        caret-color: rgb(74, 74, 74);
        &::placeholder {
        }
      }
      input[type="number"] {
        text-align: center;
        font-size: 45px;
        outline: none;
      }
      input[type="text"] {
        padding: 9px 20px 20px;
        text-align: center;
        font-size: 45px;
        width: 100%;
        outline-color: var(--secColor);
        text-align: left;
        caret-color: gray;
      }
      input[type="text"]::placeholder {
        font-size: 16px;
        opacity: 0.7;
      }
      input[type="number"] {
        border: none;
      }
      input[type="number"]::placeholder {
        font-size: 45px;
        color: black;
      }
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input[type="number"] {
        -moz-appearance: textfield;
      }
      .usd {
        color: #000 !important;
        font-weight: 600;
        font-size: 16px;
        padding: 2px 7px;
        border-radius: 20px;
        background-color: #f1efea;
      }
      input[type="number"] {
        padding: 20px;
        font-size: 24px;
        font-weight: 600;
        position: relative;
        width: 50%;
        // position: relative;

        // &::before {
        //   position: absolute;
        //   content: "$";
        //   left: 0;
        //   top: 0;
        //   width: 20px;
        //   height: 20px;
        //   color: black !important;
        // }
      }

      input[type="text"] {
        align-self: flex-start;
        font-size: 24px;
        font-weight: 600;
        position: relative;
      }
    }
  }
  .text {
    margin-top: 20px;
    font-size: 13px;
    .first {
      margin-bottom: 10px;
    }
    .link {
      color: var(--secColor) !important;
      text-transform: capitalize;
      font-weight: 600;
      margin-left: 4px;
    }
  }
  .butns {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    text-transform: capitalize;
    .continue {
      padding: 7px 15px;
      border-radius: 20px;
      background-color: var(--mainColor);
      color: var(--textColor) !important;
      transition: 0.2s;
      &:hover {
        background-color: var(--secColor);
      }
    }
    .cancel {
      color: var(--secColor);
      font-weight: 600;
    }
  }
}
