.navbar {
  padding: 10px 0px;
  background-color: var(--mainColor);
  color: var(--textColor) !important;
  .image {
    max-width: 40px;
    img {
      text-align: center;
      width: 100%;
    }
  }
  ul {
    display: flex;
    align-items: center;
    gap: 20px;
    li {
      text-transform: capitalize;
      font-weight: 600;
      // border: 1px solid var(--mainColor);

      a {
        // background/-color: red;
        padding: 10px 20px;
        border-radius: 22px;
        transition: 0.3s;
        color: #d1f1ff !important;
        border: 1px solid var(--mainColor);
        &:hover {
          transition: 0.5s;
          border: 1px solid #d1f1ff4f;
        }
      }
    }
  }
  .icons {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    .logout {
      text-transform: uppercase;
      font-size: 14px;
      color: #d1f1ff !important;
      font-weight: 400;
    }
  }
}

@media (max-width: 991px) {
  .navbarToggle {
    flex-direction: column !important;
  }
}
